h1{
    text-align: center;
}
img{
    max-width: 100%;
  height: auto;
  display: block;
}
h3{
    text-align: center;

}
#sahur{
     display: flex; 
     justify-content: center;
     align-items: center;   
     /* flex-wrap: wrap; */
}
audio{
    
}
*{
    /* margin: 0px; */
}
.crocodilo{
}
.main{
    border: 2px solid violet;
     /* display: flex; 
     justify-content: center;
     align-items: center;    */
     /* flex-wrap: wrap;  */
    /* display: inline-block; */
}
.check{
    /* display: flex;
    justify-content: center;
    align-items: center;  */
}
